body {
  font-family: Proxima-Nova !important;
  padding: 46;
}

a {
box-shadow:
    0 -1px 0 0 white inset,
    0 -2px 0 0 transparent inset ;

  transition: all .15s ease-in;
}

h1 {
  color: #333;
  font-size: 34px;
  -webkit-margin-after: 0px;

}

c2 {
  color: #333;
  font-size: 14px;
  font-style: normal;
  font-weight: lighter;
  line-height: 1.4em;
  margin-top: 16px;
  margin-left: 28px;
  margin-right: 28px;
  -webkit-margin-start: 28px;
  -webkit-margin-after: 28px;
  max-width: 500px;
  line-height: 150%;
}

#navbar {
  margin-bottom: 36px;
}

.about-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
  top: 35%;
  transform: translateY(-50%);
}

.mack {
  width: 200px;
  margin-bottom: 16;
}

.section {
  flex: 1 0 auto;
}

.brand-maintext {
  margin-bottom: -2;
  color: fuchsia;
}

.brand-subtext {
  font-size: 12;
  padding: 0;
  margin: 0;
  color: rgb(161, 161, 161);
}

.nav-link {
  font-size: 14
}

.no-padding {
  padding: 0 !important;
}

/* Icons */
.divider {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.email {
  width: 24px;
  height: 24px;
  background-size: 80%;
  background-image: url(../assets/icons/email.png);
  background-repeat: no-repeat;
  opacity: 60%;
  transition: all 300ms ease;
}

.email:hover, .email:focus {
  opacity: 100%;
}

.linkedin {
  width: 24px;
  height: 24px;
  background-size: 95%;
  background-image: url(../assets/icons/linkedin.png);
  background-repeat: no-repeat;
  opacity: 60%;
  transition: all 300ms ease;
}

.linkedin:hover, .linkedin:focus {
  opacity: 100%;
}

.twitter {
  width: 24px;
  height: 24px;
  background-size: 80%;
  background-image: url(../assets/icons/twitter.png);
  background-repeat: no-repeat;
  opacity: 60%;
  transition: all 300ms ease;
}

.twitter:hover, .twitter:focus {
  opacity: 100%;
}

.linkButton {
  background-position: center;
  display: block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  margin-top: 0;
  margin-left: 12px;
  padding: 0px;
}

.linkButton:link  {
  border-bottom-style: none;
}

@media only screen
  and (max-device-width: 667px) {
    h1 {
      font-size: 32px !important;
    }

    .about-body {
      top: 45%;
    }
}
